In [1]:
import pandas as pd
import numpy as np

In [2]:
# Employee DataFrame
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)
employee_df.to_csv("Employee.csv", index=False) #saving to csv
print(employee_df) # printing the DataFrame

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [3]:
#Project DataFrame
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005","A002","A005","A003","A001","A003","A001","A004","A004","A005"],
    "Project":["Project 1","Project 2","Project 3","Project 4","Project 5","Project 6","Project 7",
               "Project 8","Project 9","Project 10","Project 11","Project 12","Project 13","Project 14"],
    "Cost": [1002000,2000000,4500000,5500000,'' ,680000,400000,350000,''  ,300000,2000000,1000000,3000000,200000],
    "Status": ["Finished","Ongoing","Finished","Ongoing","Finished","Failed","Finished","Failed","Ongoing","Finished","Failed",
              "Ongoing", "Finished","Finished"],
}

project_df = pd.DataFrame(project_data)
project_df.to_csv("Project.csv", index=False)
print(project_df)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished

In [4]:
#Seniority level DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level":[2,2,3,2,3],
}

seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv("Seniority.csv", index=False)
print(seniority_df)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [5]:
#Task: 2
project_df = pd.read_csv("Project.csv")

for i in range(len(project_df)):
    if pd.isnull(project_df.loc[i, 'Cost']):
        project_df.loc[i, 'Cost'] = project_df[ 'Cost'][:i].mean() # inserting the blank cells in cost column with average values

project_df.to_csv("Project.csv", index=False)
print (project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [6]:
#Task: 3
employee_df = pd.read_csv("Employee.csv")
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True) # Splitting name into first name and last name
employee_df.drop(columns=['Name'], inplace=True)
employee_df.to_csv("Employee.csv", index=False)

In [7]:
#Task: 3 
employee_df = pd.read_csv("Employee.csv")
print(employee_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [8]:
#Task: 4
final_df = pd.merge(employee_df, seniority_df, on="ID") #Merging employee and seniority df's
final_df = pd.merge(final_df, project_df, on="ID") #merging project df
final_df.to_csv("Final.csv", index=False)
print (final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status
0    Project 1  1002000.0  Finished
1    Project 9  2210312.5   Ongoing
2   Project 11  2000000.0    Failed
3    Project 2  2000000.0   Ongoing
4    Project 6   680000.0    Failed
5    Project 3  4500000.0  Finished
6    Project 8   350000.0    Failed
7   Project 10   300000.0  Finished
8    Project 4  5500000.0   Ongoing
9   Project 12  1000000.0   Ongoing
10  Project 13  3000000.0  Finished
11   Project 5  3250500.0  Finished
12   Project 7   400000.0  Finished
13  Project 14   200000.0  Finished

In [9]:
#Task 5
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1) # adding bonus to finished projects
final_df.to_csv("Final.csv", index=False)
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9  2210312.5   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5  3250500.0  Finished  162525.0
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

In [10]:
#Task 6
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1 # lowering designation level of failed projects
final_df = final_df[final_df['Designation Level'] <= 4]
final_df.to_csv("Final.csv", index=False)
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9  2210312.5   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5  3250500.0  Finished  162525.0
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

In [11]:
#Task 7
final_df['First Name'] = final_df.apply(lambda row: ('Mr. ' if row['Gender'] == 'M' else 'Mrs. ') + row['First Name'], axis=1) # Adding Mr. and Mrs. to first names
final_df.drop(columns=['Gender'], inplace=True) #Dropping gender Cloumn
final_df.to_csv("Final.csv", index=False)

In [12]:
final_df = pd.read_csv("Final.csv")
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  3  Project 14

         Cost    Status     Bonus
0   1002000.0  Finished   50100.0
1   2210312.5   Ongoing       0.0
2   2000000.0    Failed       0.0
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
5   4500000.0  Finished  225000.0
6    350000.0    Failed       0.0
7    300000.0  Finished   15000.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0
11  3250500.0  Finished  162525.0
12   400000.0  Finished   20000.0
13   200000.0  Finished   10000.0

In [13]:
#Task 8

# Apply the IF condition: Increase 'Designation Level' by 1 if 'Age' > 29
final_df['Designation Level'] = final_df.apply(lambda row: row['Designation Level'] + 1 if row['Age'] > 29 else row['Designation Level'], axis=1)
final_df.to_csv("Final.csv", index=False)
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  4  Project 14

         Cost    Status     Bonus
0   1002000.0  Finished   50100.0
1   2210312.5   Ongoing       0.0
2   2000000.0    Failed       0.0
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
5   4500000.0  Finished  225000.0
6    350000.0    Failed       0.0
7    300000.0  Finished   15000.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0
11  3250500.0  Finished  162525.0
12   400000.0  Finished   20000.0
13   200000.0  Finished   10000.0

In [20]:
#Task: 9
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.columns = ['ID', 'First Name', 'Total Cost']
total_proj_cost.to_csv("TotalProjCost.csv", index=False)

In [22]:
total_proj_cost_df = pd.read_csv("TotalProjCost.csv")
print(total_proj_cost_df)

     ID  First Name  Total Cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [23]:
#Task: 10
filtered_employees = final_df[final_df['City'].str.contains('o', case=False)]
print(filtered_employees)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0